NODE_ENV=development
PORT=9000
SERVICE_NAME=aio-backend
LOG_LEVEL=info

# DATABASE CONFIG

DB_USER=your_db_user
DB_HOST=localhost
DB_NAME=your_db_name
DB_PASSWORD=your_db_password
DB_PORT=5432
DB_SSL=false

# AUTH CONFIG

JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_refresh_secret

# FRONTEND

FRONTEND_URL=http://localhost:3000

# EMAIL (optional)

EMAIL_USER=[your_email@example.com](mailto:your_email@example.com)
EMAIL_PASS=your_email_password

# FILE UPLOAD

UPLOAD_DIR=./uploads

# BACKEND URL

BACKEND_URL=http://localhost:9000
